.center {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 15%;
    -webkit-animation: rotation 10s infinite linear;
}

.center-div-1 {
    width: 200px;
    height: 200px;
    background-color: #2EC4B6;  
}

.center-div-2 {
    width: 120px;
    height: 120px;
    background-color: #FF9F1C;
}

.center-div-3 {
    width: 40px;
    height: 40px;
    background-color: #E71D36;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}